<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">    
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
    <script  src="static/javaS.js"></script>
    <title>Contact Us</title>
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK4273p7V6C6M2sI1hhot9rpClauY6i_kS3g&usqp=CAU">
        </div>
        <ul>
            <li class="item" onmouseover="mouseOv(document.getElementsByClassName('item'))" onmouseout="mouseOt(document.getElementsByClassName('item'))"><a id="1" onmouseover="mouseOv(document.getElementById('1'))" onmouseout="mouseOt(document.getElementById('1'))" href="/">Home</a></li>
            <li class="item" onmouseover="mouseOv(document.getElementsByClassName('item'))" onmouseout="mouseOt(document.getElementsByClassName('item'))"><a id="2" onmouseover="mouseOv(document.getElementById('2'))" onmouseout="mouseOt(document.getElementById('2'))" href="/services">Services</a></li>
            <li class="item" onmouseover="mouseOv(document.getElementsByClassName('item'))" onmouseout="mouseOt(document.getElementsByClassName('item'))"><a id="3" onmouseover="mouseOv(document.getElementById('3'))" onmouseout="mouseOt(document.getElementById('3'))" href="/sponcers">Our Sponsors</a></li>
            <li class="item" onmouseover="mouseOv(document.getElementsByClassName('item'))" onmouseout="mouseOt(document.getElementsByClassName('item'))"><a id="4" onmouseover="mouseOv(document.getElementById('4'))" onmouseout="mouseOt(document.getElementById('4'))" href="/contact">Contact Us</a></li>
            <li class="item" style="position: relative; left: 440px; background-color: orange;"><a href="/order">Order Now</a></li>
        </ul>
    </nav>
    <div id="order">
        <h1 class="h-primary center">ORDER NOW!</h1>
        <div class="orderb" style="display: flex;">
            <div id="contact-box" style="display: inline-block;width: 50%;">
                <form action="" style="width: 87%; padding: 10px;">
                    <div class="form-group">
                        <label for="name">Name: </label>
                        <input type="text" name="name" id="name" placeholder="Enter your name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email: </label>
                        <input type="email" onmouseout="ValidateEmail(document.getElementById('email'))" name="name"
                            id="email" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number: </label>
                        <input type="phone" name="name" id="phone" placeholder="Enter your phone">
                    </div>

                </form>
            </div>
            <div id="dish">
                ORDER 1:
                <input type="text" name="child_1">
                Quantity :
                <input type="number" name="child_1">
                <input type="button" id="add_button" onclick="add()" value="add" /><br></br>
            </div>

        </div>
        <button style="margin: 0px auto; display: block;" class="btn">Place Order</button>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
    <footer>
        <div class="center">
             www.sliggy.com. 
        </div>
    </footer>
</body>

</html>