<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">    
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
    <script  src="static/javaS.js"></script>
    <title>Services</title>
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK4273p7V6C6M2sI1hhot9rpClauY6i_kS3g&usqp=CAU">
        </div>
        <ul>
            <li class="item" onmouseover="mouseOv(document.getElementsByClassName('item'))" onmouseout="mouseOt(document.getElementsByClassName('item'))"><a id="1" onmouseover="mouseOv(document.getElementById('1'))" onmouseout="mouseOt(document.getElementById('1'))" href="/">Home</a></li>
            <li class="item" onmouseover="mouseOv(document.getElementsByClassName('item'))" onmouseout="mouseOt(document.getElementsByClassName('item'))"><a id="2" onmouseover="mouseOv(document.getElementById('2'))" onmouseout="mouseOt(document.getElementById('2'))" href="/services">Services</a></li>
            <li class="item" onmouseover="mouseOv(document.getElementsByClassName('item'))" onmouseout="mouseOt(document.getElementsByClassName('item'))"><a id="3" onmouseover="mouseOv(document.getElementById('3'))" onmouseout="mouseOt(document.getElementById('3'))" href="/sponcers">Our Sponsors</a></li>
            <li class="item" onmouseover="mouseOv(document.getElementsByClassName('item'))" onmouseout="mouseOt(document.getElementsByClassName('item'))"><a id="4" onmouseover="mouseOv(document.getElementById('4'))" onmouseout="mouseOt(document.getElementById('4'))" href="/contact">Contact Us</a></li>
            <li class="item" style="position: relative; left: 440px; background-color: orange;"><a href="/order">Order Now</a></li>
        </ul>
    </nav>
    <div id="services-container">
        <h1 class="h-primary center">BEST SERVICE</h1>
        <div id="services">
            <div class="box">
                <img src="https://th.bing.com/th/id/OIP.WHQekw_9glxweny1phI7DQHaFx?pid=ImgDet&rs=1" alt="">
                <h2 class="h-secondary center">Social distance</h2>
                <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, culpa suscipit error
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>
                <button style="display: block; width: 177px; margin: 20px auto;" class="btn"><a id="homeBtn" href="/order">Order Now</a></li></button>
            </div>
            <div class="box">
                <img src="https://i.pinimg.com/736x/fb/10/75/fb10758c8914c4452753635c36682e3e.jpg" alt="">
                <h2 class="h-secondary center">Fast Delivery</h2>
                <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, culpa suscipit error
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde laudantium a incidunt animi ad, ab dignissimos vero? Unde numquam odit repudiandae perferendis nisi.
                    </p>
                <button style="display: block; width: 177px; margin: 20px auto;" class="btn"><a id="homeBtn" href="/order">Order Now</a></li></button>
            </div>
            <div class="box">
                <img src="static/img/3.png" alt="">
                <h2 class="h-secondary center">Food Ordering</h2>
                <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, culpa suscipit error
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus provident fugiat aliquam minima at explicabo. Earum eveniet quaerat, sunt molestias nesciunt quas! Quis.
                    </p>
                <button style="display: block; width: 177px; margin: 20px auto;" class="btn"><a id="homeBtn" href="/order">Order Now</a></li></button>        
            </div>
        </div>
    </div>
    <footer>
        <div class="center">
             www.sliggy.com
        </div>
    </footer>
</body>
</html>